<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mm -->
      <package
            uri="http://www.example.org/contractVerificationMM"
            class="de.tu_bs.ccc.contracting.Verification.MmPackage"
            genModel="model/mm.genmodel"/>
   </extension>

</plugin>
