<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.graphiti.ui.diagramTypes">
      <diagramType
            name="ContractModelling Diagram Type"
            type="ContractModelling"
            description="hoo"
            id="ContractModelling.ContractModellingDiagramType">
      </diagramType>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypeProviders">
      <diagramTypeProvider
            name="ContractModelling Diagram Type Provider"
            description="ddd"
            class="de.tu_bs.ccc.contracting.core.diagram.ContractModellingDiagramTypeProvider"
            id="ContractModelling.ContractModellingDiagramTypeProvider">
         <diagramType
               id="ContractModelling.ContractModellingDiagramType">
         </diagramType>
         <imageProvider
               id="de.tu-bs.ccc.contracting.core.imageProvider">
         </imageProvider>
      </diagramTypeProvider>
   </extension>
   <extension point="org.eclipse.ui.menus">
	  <menuContribution  allPopups="false" locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               id="de.tu-bs.ccc.contracting.io.CCCMenu"
               label="ContractIDE"
               icon="icons/cide2_16.png">
            <command
                  commandId="de.tu-bs.ccc.contracting.io.exporter_command"
                  label="Export to CCC config. (.xml)"
                  style="push">
            </command>
            <command
                  commandId="de.tu-bs.ccc.contracting.io.importer_command"
                  label="Import CCC config. (.xml)"
                  style="push">
            </command>
         </menu>
	  </menuContribution>
	</extension>
 <extension
       point="org.eclipse.ui.commands">
    <command
          defaultHandler="de.tu_bs.ccc.contracting.core.io.handler.ExportHandler"
          id="de.tu-bs.ccc.contracting.io.exporter_command"
          name="ExportToXML">
    </command>
    <command
          defaultHandler="de.tu_bs.ccc.contracting.core.io.handler.ImportHandler"
          id="de.tu-bs.ccc.contracting.io.importer_command"
          name="ImportXML">
    </command>
 </extension>
   <extension
         point="org.eclipse.graphiti.ui.imageProviders">
      <imageProvider
            class="de.tu_bs.ccc.contracting.core.diagram.ContractModellingImageProvider"
            id="de.tu-bs.ccc.contracting.core.imageProvider">
      </imageProvider>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.tu_bs.ccc.contracting.core.diagram.ContractModellingDiagramEditor"
            default="true"
            extensions="cide"
            icon="icons/cide2_16.png"
            id="de.tu-bs.ccc.contracting.diagram.editor"
            name="ContractIDE Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="de.tu_bs.ccc.contracting.core.decorators.SynchronizeDecorator"
            id="de.tubs.ccc.contracting.core.decorators.SynchronizeDecorator"
            label="Read-only Decorator"
            lightweight="true"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IResource">
               </objectClass>
               <or>
                  <objectClass
                        name="org.eclipse.core.resources.IFolder">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.core.resources.IFile">
                  </objectClass>
               </or>
            </and>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
         	<startup class="de.tu_bs.ccc.contracting.core.startup.Starter"/>
   </extension>

</plugin>
