<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="de.tu-bs.ccc.contracting.ui.wizards"
            name="ContractIDE">
      </category>
      <wizard
            category="de.tu-bs.ccc.contracting.ui.wizards"
            class="de.tu_bs.ccc.contracting.ui.wizards.CCCProjectNewWizard"
            icon="icons/cide2_16.png"
            id="de.tu-bs.ccc.contracting.ui.wizards.new.custom"
            name="ContractIDE Project">
      </wizard>
      <wizard
            category="de.tu-bs.ccc.contracting.ui.wizards"
            class="de.tu_bs.ccc.contracting.ui.wizards.CompoundWizard"
            icon="icons/compound_64.png"
            id="contractmodelling.wizards.CompoundWizard"
            name="Compound Component">
      </wizard>
      <wizard
            category="de.tu-bs.ccc.contracting.ui.wizards"
            class="de.tu_bs.ccc.contracting.ui.wizards.ComponentWizard"
            icon="icons/atomic_component_64.png"
            id="contractmodelling.wizards.ComponentWizard"
            name="Atomic Component">
      </wizard>
      <wizard
            category="de.tu-bs.ccc.contracting.ui.wizards"
            class="de.tu_bs.ccc.contracting.ui.wizards.AbstractWizard"
            icon="icons/abstract_component_64.png"
            id="contractmodelling.wizards.AbstractWizard"
            name="Abstract Component">
      </wizard>
      <wizard
            category="de.tu-bs.ccc.contracting.ui.wizards"
            class="de.tu_bs.ccc.contracting.ui.wizards.SystemWizard"
            icon="icons/system_64.png"
            id="contractmodelling.wizards.SystemWizard"
            name="System">
      </wizard>
   </extension>
   
	
 <extension
       point="org.eclipse.ui.views">
    <category
          id="contractide.views.category"
          name="ContractIDE">
    </category>
    <view
          category="contractide.views.category"
          class="de.tu_bs.ccc.contracting.ui.views.ModulePropertiesView"
          id="contractide.views.moduleproperties"
          name="ContractIDE Properties"
          restorable="true">
    </view>
 </extension>
</plugin>
